<%= form_with model: [ post, Comment.new ] do |form| %>
  <%= form.text_field :content, autofocus: true, style: "width:100%;" %>
  <div style="display:flex;justify-content:flex-end;">
    <%#= form.submit "Reply" %>
    <%= image_submit_tag("send-icon.svg", height: "38", style: "margin:0;padding:0 8px;border:none;") %>
  </div>
<% end %>