<div id="<%= dom_id post_category %>">
  <div>
    <strong>Name:</strong>
    <%= post_category.name %>
  </div>

  <div>
    <strong>Pattern:</strong>
    <%= post_category.pattern %>
  </div>

</div>
