<p style="color: green"><%= notice %></p>
<% content_for :title, "Post categories" %>
<h1>Post categories</h1>
<div id="post_categories">
  <% @post_categories.each do |post_category| %>
    <%= render post_category %>
    <p>
      <%= link_to "Show this post category", post_category %>
    </p>
  <% end %>
</div>
<%= link_to "New post category", new_post_category_path %>