@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
    --bg: #f5f5f5;
    --accent-bg: #f5f7ff;
    --text: #212121;
    --text-light: #585858;
    --accent: #0d47a1;
    --accent-hover: #1266e2;
    --accent-text: var(--bg);
    --code: #d81b60;
    --preformatted: #444;
    --marked: #ffdd33;
    --disabled: #efefef;
  }
}

button,
.button,
a.button, /* extra specificity to override a */
input[type="submit"],
input[type="reset"],
input[type="button"] {
  border: none;
  background-color: var(--accent);
  color: var(--accent-text);
  padding: 0.5em;
  text-decoration: none;
  line-height: normal;
}

.single_row {
  border-radius: 5px;
  margin: 0.4rem 0 0.4em 0;
  padding: 0.4rem;
  background-color: #fff;
}

.multi_row {
  border-radius: 5px;
  margin-top: 0.4rem;
  padding: 0.4rem;
  background-color: #fff;
}

/*.multi_row:nth-child(odd) {
  background-color: #eee;
}*/
